.img-cover-slider {
    max-height: 380px;
    border-radius: 10px;
}

.icon-down {
    margin: 25px 5px 10px 5px !important;
}

.icon-down-little {
    margin: 20px 5px 10px 5px !important;
}

.download-links {
    color: #fffaf0;
    padding-top: 10px;
    text-align: center;
}

    .download-links a {
        border: 1px solid #fffaf0;
        color: #fffaf0;
        background-color: #FF5691;
        margin-left: 5px;
        border-radius: 5px;
        padding: 5px;
    }

        .download-links a:hover {
            color: #FF5691;
            background-color: #fffaf0;
            margin-left: 5px;
            border-radius: 5px;
        }

.actors-page {
    margin-top: 150px;
}

    .actors-page img {
        height: 230px;
        border-radius: 5px;
        border: #fffaf0 1px solid;
    }

    .actors-page h3, h2 {
        text-align: center;
    }

.actors-movies-page {
    margin-top: 50px;
}

.rateStyles {
    color: whitesmoke;
}

.rateStylesNum {
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    opacity: 0.85;
    color: #fffaf0;
}

.img-gallery {
    width: 250px;
    height: 130px;
    border-radius: 5px;
    animation: pulse 3s infinite;
}