@using NightOwl.DataLayer.Entities
@model IEnumerable<NightOwl.DataLayer.Entities.Actors>
<div class="catalog actors-page">
    <div class="container">
        <div class="row">
            @foreach (var actor in Model)
            {
                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="/img/Actors/@actor.ActorImage" alt="@actor.ActorName">
                            <a href="SortByActor-@actor.ActorName" class="card__play">
                                <i class="icon ion-ios-arrow-forward icon-down-little"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title"><a href="SortByActor-@actor.ActorName">@actor.ActorName</a></h3>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            }

            <!-- paginator -->
            <div class="col-12">
                <ul class="paginator">
                    <li class="paginator__item paginator__item--prev">
                        <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                    </li>
                    <li class="paginator__item"><a href="#">1</a></li>
                    <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
                    <li class="paginator__item"><a href="#">3</a></li>
                    <li class="paginator__item"><a href="#">4</a></li>
                    <li class="paginator__item paginator__item--next">
                        <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>