
<!DOCTYPE html>
<html lang="en" dark="true">
<head>
    <partial name="LayoutPartials/_HeadTags"/>
</head>
<body class="body">

    <!-- header -->
    @await Component.InvokeAsync("Header")
    <!-- content -->
    @RenderBody();
    <!-- footer -->
    <footer class="footer">
      <partial name="LayoutPartials/_Footer"/>
    </footer>
    <!-- end footer -->
    <!-- JS -->
    <partial name="LayoutPartials/_Scripts"/>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>