@model IEnumerable<NightOwl.DataLayer.Entities.Items>
<section class="home">
    <!-- home bg -->
    @*        <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="DefaultLayout/img/home/home__bg.jpg"></div>
        <div class="item home__cover" data-bg="DefaultLayout/img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="DefaultLayout/img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="DefaultLayout/img/home/home__bg4.jpg"></div>
        </div>*@
    <div class="owl-carousel home__bg">
        @foreach (var itemBanner in Model)
        {
            <div class="item home__cover" data-bg="/img/Movies/@itemBanner.Banner"></div>
        }

    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>
                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>

            <div class="col-12">
                <div class="owl-carousel home__carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <!-- card -->
                        <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/img/Movies/@item.Banner" class="img-cover-slider" alt="@item.Title">
                                    <a href="/ShowDetails-@item.ItemId" class="card__play">
                                        <i class="icon ion-ios-arrow-down icon-down"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/ShowDetails-@item.ItemId">@item.Title</a></h3>
                                    <span class="card__category">
                                        @foreach (var genre in item.SelectedGenres)
                                        {
                                            <a href="#">@genre.Genres.GenreName</a>
                                        }
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>@item.ImdbScore</span>
                                </div>
                            </div>
                            <!-- end card -->
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>