@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <partial name="_HeadTags" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <partial name="_TopNavBar" />
                </div>
            </nav>
        </header>
    }

    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <partial name="_SideBar" />
        <!-- Sidebar Navigation end-->
        <!--Content-->
        <div class="page-content" style="padding-bottom: 70px;">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Dashboard</h2>
                </div>
            </div>
            @RenderBody()
            <footer class="footer">
                <partial name="_Footer" />
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    <partial name="_Scripts" />
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>