<div class="footer__block block no-margin-bottom">
    <div class="container-fluid text-center">

        <p class="no-margin-bottom">2022 © NightOwl. Template By Templates Hub , Customized and Developed By Hurr1cane.</p>
    </div>
</div>