<div class="navbar-header">
    <!-- Navbar Header-->
    <a href="/Admin" class="navbar-brand">
        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Admin</strong><strong>Panel</strong></div>
        <div class="brand-text brand-sm"><strong class="text-primary">A</strong><strong>P</strong></div>
    </a>
    <!-- Sidebar Toggle Btn-->
    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
</div>
<div class="right-menu list-inline no-margin-bottom">
    <!-- Log out-->
    <div class="list-inline-item logout"><a id="logout" href="/Logout" class="nav-link">Logout <i class="icon-logout"></i></a></div>
</div>