  <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title">Download Our App</h6>
                    <ul class="footer__app">
                        <li><a href="#"><img src="DefaultLayout/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                        <li><a href="#"><img src="DefaultLayout/img/google-play-badge.png" alt=""></a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Resources</h6>
                    <ul class="footer__list">
                        <li><a href="/AboutUs">About Us</a></li>
                        <li><a href="/ContactUs">Support</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contact</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+989120000000">+989120000000</a></li>
                        <li><a href="mailto:support@nightowl.com">support@nightowl.com</a></li>
                    </ul>
                    <ul class="footer__social">
                        <li class="facebook"><a href="https://facebook.com/nightowl"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="instagram"><a href="https://instagram.com/nightowl"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/nightowl"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="vk"><a href="https://vk.com/nightowl"><i class="icon ion-logo-vk"></i></a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer copyright -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="footer__copyright">
                                <small><a>All rights reserved for www.nightowl.com</a></small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="footer__copyright">
                                <small><a>Template By TemplateHub , Customized and Developed by Hurr1cane</a></small>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- end footer copyright -->
            </div>
        </div>