<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="DefaultLayout/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="DefaultLayout/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="DefaultLayout/css/owl.carousel.min.css">
<link rel="stylesheet" href="DefaultLayout/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="DefaultLayout/css/nouislider.min.css">
<link rel="stylesheet" href="DefaultLayout/css/ionicons.min.css">
<link rel="stylesheet" href="DefaultLayout/css/plyr.css">
<link rel="stylesheet" href="DefaultLayout/css/photoswipe.css">
<link rel="stylesheet" href="DefaultLayout/css/default-skin.css">
<link rel="stylesheet" href="DefaultLayout/css/main.css">
<link rel="stylesheet" href="DefaultLayout/css/font-awesome.min.css">
<link rel="stylesheet" href="DefaultLayout/css/custom-styles.css">

<!-- Favicon-->
<link rel="shortcut icon" href="/DefaultLayout/img/favicon.ico">
<title>NightOwl - Latest movies and series</title>
<meta name="description" content="NightOwl - Download movies and series for free">
<meta property="og:locale" content="en">
<meta property="og:type" content="website">
<meta property="og:title" content="NightOwl">
<meta property="og:description" content="Download latest movies and tv series for free with subbed">
<meta property="og:site_name" content="نایت اول">
<meta name="keywords" content="download - download movie - download series - film - night owl">
<meta name="author" content="Hurr1cane">