
@{
    ViewData["Title"] = "ContactUs";
}

<section class="section section--first section--bg" data-bg="img/section/section.jpg" style="background: url(&quot;img/section/section.jpg&quot;) center center / cover no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Contact Us</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Contact Us</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="faq">
						<h3 class="faq__title">How Can I Contact You</h3>
						<p class="faq__text">You can contact us by these numbers:</p>
						<p class="faq__text">+989120000000</p>
						<p class="faq__text">+982100000000</p>
						</div>

					<div class="faq">
						<h3 class="faq__title">What Is Your Email Address ?</h3>
						<p class="faq__text">You can contact us by these email address:</p>
                        <p class="faq__text"><a href="mailto:support@nightowl.com"></a>support@nightowl.com</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">Where is your postal address</h3>
						<p class="faq__text">We are in IR , Teh , Restrict 4 , Shams Street , No 44</p>
					</div>
                </div>
			</div>
		</div>
	</section>