.adminRegisterForms {
    margin: 50px;
}
.tableHomeAdmin a, .aTagsMargin {
    margin: 3px;
}
.adminItemBannerPhoto {
    max-height: 200px;
}
.adminGalleryImageDetails {
    max-height: 600px;
    max-width: 800px;
}
.imgAdminGalleryIndex {
    max-width: 300px;
}