@model NightOwl.Core.DTOs.AdminLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="col col-11 text-center alert alert-danger adminRegisterForms">
        You currently logged on as admin !
    </div>
}
else
{
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Sign in</h1>
                                </div>
                                <p>We should verify you , please sign in</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel-->
                <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form asp-action="Login" method="post">
                                    <div class="form-group">
                                        <input id="login-username" asp-for="EmailAddress" type="text" required="" data-msg="Please enter your email address" autocomplete="off" class="input-material">
                                        <label for="login-username" class="label-material">Email Address</label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" id="login-password" type="password" required="" data-msg="Please enter your password" class="input-material">
                                        <label for="login-password" class="label-material">Password</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                                        </label>
                                    </div>
                                    <input id="login" type="submit" class="btn btn-primary" value="Login" />
                                </form><a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="/Register" class="signup">Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
